<%= provide(:title, formatted_title("#{@user.email}s pins")) %>

<% if !@pins.empty? %>
  <div class="mulit-pins-container">
    <% @pins.each do |pin| %>
      <div class="pin-display-multi">
        <img src="<%= pin.pin_image %>" class="pinned-pic-small">
        <div class="pin-text-small">
          <h2><%= pin.title %></h2>
          <p><%= simple_format(pin.description).truncate(200) %></p>
        </div>
      </div>
    <% end %>
  </div>
  
<% end %>