<% provide(:title, formatted_title(@pin.title.truncate(25))) %>


<img src="<%= @pin.pin_image %>">
<h2><%= @pin.title %></h2>

<p><%= simple_format(@pin.description) %></p>
<p><%= @user.email  %></p>