@mixin gen-display{
  border: 1px solid #000;
  background: #fff;
}

.pin-display{
  width: 60%;
  margin: auto;
  @include gen-display;
}

.pinned-pic, .pinned-pic-small{
  object-fit: fill;
  width: 100%;
  border-bottom: 1px solid #000;
}

.pin-text{
  padding: 20px;
  h2{
    text-align: left;
    font-size: 2em;
    margin-top: 5px;
  }
}

.pin-footer{
  background-color: #DDD;
  border-top: 1px solid #000;
  height: 40px;
  ul{
    padding: 0;
    li{
      display: inline;
      .btn{
        float: right;
        margin-top: 3px;
        margin-right: 10px;
      }
    }
  }
}

#pin-submitted-by{
  float: left;
  margin: 10px;
}

.pin-display-multi{
  @include gen-display;
}

#pins{
  margin: 0 auto;
}

.box{
  margin: 5px;
  width: 214px;
}

.box img{
  width: 100%;
}