// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* homepage styles */
.rec-wrapper{
  width: 30%;
  float: left;
  margin-right: 1.66%;
  margin-left: 1.66%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.rec-homepage-photo img{
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rec-homepage-title{
  font-size: 2em;
  margin-left: 8px;
}