<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Pinterest Clone", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "Log in", "#" %>
        <%= link_to "Sign up", "#" %>
      </ul>
    </nav>
  </div>
  
</header>
